<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container">    
            <div class="collapse navbar-collapse">       
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="register.html">
                            Register
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="full-page login-page" data-color="orange" data-image="assets/img/full-screen-image-1.jpg">   
        <div class="content">
            <div class="container">
                <div class="row">                   
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form ng-submit="logar(credencial)">
                            <div class="card">
                                <div class="header text-center">Login</div>
                                <div class="content">
                                    <div class="form-group">
                                        <label>Usuário</label>
                                        <input type="text" placeholder="Usuário" class="form-control" ng-model="credencial.username">
                                    </div>
                                    <div class="form-group">
                                        <label>Senha</label>
                                        <input type="password" placeholder="Senha" class="form-control" ng-model="credencial.password">
                                    </div>                                    
                                    <div class="form-group">
                                        <!-- <label class="checkbox">
                                            <input type="checkbox" data-toggle="checkbox" value="">
                                            Subscribe to newsletter
                                        </label>     -->
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button type="submit" class="btn btn-fill btn-warning btn-wd">Login</button>
                                </div>
                                <div class="content">
                                    <div class="form-group" ng-show="mensagemErroAuth">
                                        <b>Erro de autenticação!</b><br/> Por favor, verifique suas credenciais e tente novamente."
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
    </div>                             
</div>
<style>
    .painel-principal {
        display: none;
        width: 0;
    }
</style>