<div class="card">
    <div class="header">
        <legend>Cadastro de respostas não processados</legend>
    </div>
    <div class="content">
        <form ng-submit="">
        	<h4>Formulário: {{numeroFormulario}}
        	<div class="form-group pull-right">
            	<span class="badge badge-default">{{listaFormulario.length}}</span>
            </div></h4>
			<div ng-repeat="respostaFormularioDigitado in listaFormulario">
	            <fieldset>
	                <div class="form-group">
	                    <label class="col-sm-2 control-label">Pergunta: </label>
	                    <div class="col-sm-10">
	                        {{respostaFormularioDigitado.nomePergunta}}
	                    </div>
	                </div>
	            </fieldset>
	
	            <fieldset>
	                <div class="form-group">
	                    <label class="col-sm-2 control-label">Imagem da Resposta: </label>
	                    <div class="col-sm-10">
	                        <img src="{{respostaFormularioDigitado.pathResposta}}" class="img-responsive" alt="">
	                    </div>
	                </div>
	            </fieldset>
	
	            <fieldset>
	                <div class="form-group">
	                    <label class="col-sm-2 control-label">Resposta: </label>
	                    <div class="col-sm-10">
	                        <textarea class="form-control" rows="5" ng-model="respostaFormularioDigitado.textoResposta"></textarea>
	                    </div>
	                </div>
	            </fieldset>
	            
	            <hr style="border-color:#aaa; box-sizing:border-box; width:100%; "/>
	            
			</div>
        </form>    
            <div class="form-group pull-right">
                <button type="button" class="btn btn-info btn-fill" ng-click="salvarVoltar()">Salvar e voltar</button>
                <button type="button" class="btn btn-info btn-fill" ng-click="salvarContinuar()">Salvar e continuar</button>
            </div>
        
           
           <div class="form-group pull-left">
               <button ui-sref="respostaFormulario" class="btn btn-danger btn-fill ">Cancelar</button>
           </div>

           <div class="clearfix"></div>

    </div>
</div>