<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="card">
				
				<div class="row">
					<div class="col-md-6">
						<div class="header">
		                	<h5 class="title">Relatório de formulários processados</h5>
	                	</div>
		            </div>

					<div class="col-md-6">
							<div class="form-group pull-right">
								<div class="header">
		                            <select name="tipoFormulario" 
		                            	class="form-control selectpicker" 
		                            	data-title="Tipo formulario" 
		                            	data-style="btn-default btn-block" 
		                            	data-menu-style="dropdown-blue"
		                            	ng-change="buscarPorDataEnvio()"
		                            	ng-model="tipoFormulario">
			                                <option ng-value=""></option>
			                                <option ng-value="1">1</option>
			                                <option ng-value="2">2</option>
			                                <option ng-value="3">3</option>
		                            </select>
	                           </div>	
							</div>
						
						<div class="form-group pull-right">
                            <div class="header">
								<input id="idBuscarPorData" 
									   type="text" 
									   class="form-control datepicker"
									   placeholder="Buscar por data envio" 
									   ng-model="dataEnvio"
									   ng-change="buscarPorDataEnvio()"
									   ng-blur="buscarPorDataEnvio()">
							</div>
						</div>
					</div>
            	</div>

				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th ng-repeat="t in titulo">{{t.nomePergunta}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="formulario in listaRelatorioFormulario">
								<td ng-repeat="resposta in formulario">
									{{resposta.textoResposta}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

