<div class="card">
    <div class="header">
        <h4 class="title">Formulários Respondidos</h4>
        <p class="category">Listagem de todos as imagens enviadas</p>
    </div>
    <div class="content table-responsive table-full-width">
        <table class="table">
            <thead>
                <tr>
                    <th>Situação</th>
                    <th>Quantidade</th>
                    <th class="text-right">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Aguardando digitação</td>
                    <td>{{agurdandoDigitacao}}</td>
                    
                    <td class="td-actions text-right">
                        <a ui-sref="respostaFormulario.cadastrarResposta" rel="tooltip" title="Digitar respostas abertas" class="btn btn-info btn-simple btn-lg" data-original-title="View Profile">
                            <i class="fa fa-pencil-square-o fa-3" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Processados</td>
                    <td>{{processados}}</td>
                    
					<td class="td-actions text-right">
                        <a ui-sref="respostaFormulario.relatorio" rel="tooltip" title="Relatórios" class="btn btn-info btn-simple btn-lg" data-original-title="View Profile">
                            <i class="fa fa-file-text" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>