<div class="sidebar" data-color="orange" data-image="assets/img/full-screen-image-3.jpg" >
    <div class="sidebar-wrapper">
        <div class="logo">
            <span class="logo-text">Narguishow</span>
        </div>
        <div class="logo logo-mini">
            <span class="logo-text">Nargui</span>
        </div>
        
        <div class="user">
            <div class="photo">
                <img src="assets/img/default-avatar.png" />
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#!collapseExample" class="collapsed">
                    {{usuarioLogado}}
                    <b class="caret"></b>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li><a >My Profile</a></li>
                        <li><a >Edit Profile</a></li>
                        <li><a >Settings</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <ul class="nav">
            <li class="active">
                <a ui-sref="usuario">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <p>Usuários</p>
                </a>
            </li>
            <li class="active">
                <a ui-sref="respostaFormulario.relatorio">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                    <p>Relatórios</p>
                </a>
            </li>
            <li class="active">
                <a ui-sref="respostaFormulario">
                    <i class="fa fa-wpforms" aria-hidden="true"></i>
                    <p>Formulários respondidos</p>
                </a>
            </li>
        </ul>
    </div>
</div>


